
@{
    ViewData["Title"] = "EmployeeDisplay";
}

<h1>Employee Details</h1>

<p>
    Hello, Your Id is @ViewBag.Id
</p>
<p>
    Hello, @ViewBag.Name
</p>
<p>
    Your Email is @ViewBag.Email
</p>
<p>
    Your Age is @ViewBag.Age
</p>
<p>
    Your Dept is @ViewBag.Dept
</p>
<p>
    Your Salary is @ViewBag.Salary
</p>





